<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="acf7cf">  <td>20/10/30 06:49:22</td>   <td>0</td> <td>&nbsp;</td><td title="&gt;&gt;Selenium2Test.beforeTest()[pri:0, instance:com.k.just.selenium.Selenium2Test@4ac3c60d]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@173099767</td>   <td></td> </tr>
<tr bgcolor="acf7cf">  <td>20/10/30 06:49:23</td>   <td>634</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Selenium2Test.testEasy()[pri:0, instance:com.k.just.selenium.Selenium2Test@4ac3c60d]">testEasy</td> 
  <td>main@173099767</td>   <td></td> </tr>
<tr bgcolor="acf7cf">  <td>20/10/30 06:49:23</td>   <td>684</td> <td>&nbsp;</td><td title="&lt;&lt;Selenium2Test.afterTest()[pri:0, instance:com.k.just.selenium.Selenium2Test@4ac3c60d]">&lt;&lt;afterTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td></td>   <td></td> </tr>
</table>
