<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="f7d0bd">  <td>20/10/30 03:03:42</td>   <td>0</td> <td title="&gt;&gt;TestNGSample.beforeSuite()[pri:0, instance:com.k.just.testng.TestNGSample@5fe94a96]">&gt;&gt;beforeSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1309176095</td>   <td></td> </tr>
<tr bgcolor="f7d0bd">  <td>20/10/30 03:03:42</td>   <td>6</td> <td>&nbsp;</td><td title="&gt;&gt;TestNGSample.beforeTest()[pri:0, instance:com.k.just.testng.TestNGSample@5fe94a96]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1309176095</td>   <td></td> </tr>
<tr bgcolor="f7d0bd">  <td>20/10/30 03:03:42</td>   <td>32</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestNGSample.beforeMethod()[pri:0, instance:com.k.just.testng.TestNGSample@5fe94a96]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@1309176095</td>   <td></td> </tr>
<tr bgcolor="f7d0bd">  <td>20/10/30 03:03:42</td>   <td>33</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestNGSample.f(java.lang.Integer, java.lang.String)[pri:0, instance:com.k.just.testng.TestNGSample@5fe94a96]">f</td> 
  <td>main@1309176095</td>   <td></td> </tr>
<tr bgcolor="f7d0bd">  <td>20/10/30 03:03:42</td>   <td>43</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestNGSample.afterMethod()[pri:0, instance:com.k.just.testng.TestNGSample@5fe94a96]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@1309176095</td>   <td></td> </tr>
<tr bgcolor="f7d0bd">  <td>20/10/30 03:03:42</td>   <td>46</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestNGSample.beforeMethod()[pri:0, instance:com.k.just.testng.TestNGSample@5fe94a96]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@1309176095</td>   <td></td> </tr>
<tr bgcolor="f7d0bd">  <td>20/10/30 03:03:42</td>   <td>46</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestNGSample.f(java.lang.Integer, java.lang.String)[pri:0, instance:com.k.just.testng.TestNGSample@5fe94a96]">f</td> 
  <td>main@1309176095</td>   <td></td> </tr>
<tr bgcolor="f7d0bd">  <td>20/10/30 03:03:42</td>   <td>49</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestNGSample.afterMethod()[pri:0, instance:com.k.just.testng.TestNGSample@5fe94a96]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@1309176095</td>   <td></td> </tr>
<tr bgcolor="f7d0bd">  <td>20/10/30 03:03:42</td>   <td>52</td> <td>&nbsp;</td><td title="&lt;&lt;TestNGSample.afterTest()[pri:0, instance:com.k.just.testng.TestNGSample@5fe94a96]">&lt;&lt;afterTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1309176095</td>   <td></td> </tr>
<tr bgcolor="f7d0bd">  <td>20/10/30 03:03:42</td>   <td>111</td> <td title="&lt;&lt;TestNGSample.afterSuite()[pri:0, instance:com.k.just.testng.TestNGSample@5fe94a96]">&lt;&lt;afterSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1309176095</td>   <td></td> </tr>
</table>
